# Ignore the boostrap css and js files
what_i_learnt/Bootstrap5/example-codes/bootstrap/

# Ignore virtual environment files
what_i_learnt/Python/1-working_with_files/venv/
what_i_learnt/Python/2-PySimpleGUI/venv/
